<div class="col-10 container">
    <%= form_with model: post do |f| %>
      <div class="form-group row">
        <div class="col-sm-2 col-md-3 col-lg-2">
          <ruby>Title<rt>タイトル</rt></ruby>
        </div>
        <div class="col-sm-10 col-md-9 col-lg-10">
          <%= f.text_field :title, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12 mb-2">
          <ruby>Body<rt>内容</rt></ruby>
        </div>
        <div class="col-12">
          <%= f.text_area :body, class: "form-control", rows: "15"%>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-2">
          <ruby>Category<rt>カテゴリー</rt></ruby>
        </div>
        <div class="col-lg-10">
          <small>Separate categories with a commma. カンマで区切ってください。</small>
        </div>
        <div class="col-12">
          <%= f.text_field :name, value: @categories, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2 col-md-3 col-lg-2">
          <ruby>Language<rt>　言語　</rt></ruby>
        </div>
        <div class="col-sm-10 col-md-9 col-lg-10">
          <%= f.select :language,
                        options_for_select({"English" => "english",
                                            "Japanese" => "japanese",
                                            "Other" => "other"
                                            }),
                                            {},
                                            {class: "form-control"} %>
        </div>
      </div>

      <div class="actions row justify-content-center my-3">
        <div class="col-12 col-sm-6">
          <%= f.submit "Submit", class: "btn btn-sm btn-block btn-dark" %>
        </div>
      </div>
    <% end %>
  </div>