<div class="row content-body">
  <%= render "layouts/sidebar" %>

  <div class="col-md-9 col-lg-8 pb-3">
    <div class="row">
      <div class="col-md-8 posts">
        <%= render "show", post: @post %>
        
        <% if @post.is_published? %>
          <div class="container small">
            <a data-toggle="collapse" href="#comments" role="button" aria-expanded="false" aria-controls="comments">
              <%= @comments.count %> comments
            </a>
            <div class="collapse" id="comments">
              <div class="comments">
                <%= render "public/comments/comments", comments: @comments %>
              </div>
          
              <div class="form">
                <%= render "public/comments/form", post: @post, comment: @comment %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    
      <div class="col-md-4 side">
        <div class="latests my-3">
          <p class="my-2"><span class="h5">Latest Posts</span> 最新の投稿</p>
          <%= render "latest", posts: @latest_posts %>
        </div>
        <div class="categories my-3 border-top">
          <p class="my-2"><span class="h5">Categories</span> カテゴリー別</p>
          <%= render "categories", categories: @categories %>
        </div>
      </div>
    </div>
  </div>
  <%= render "public/searches/search" %>
</div>