<div class="mx-width-50 mx-auto">
  <div class="text-center">
    <h2>Admin</h2>
    <p>管理者ログイン</p>
  </div>


  <div class="container">
    <%= form_with model: @admin, url: admin_session_path, method: :post do |f| %>
      <div class="form-group row">
        <div class="col-2">
          <%= f.label :email %>
        </div>
        <div class="col-12 col-sm-10">
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2">
          <%= f.label :password %>
        </div>
        <div class="col-12 col-sm-10">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
      </div>

      <div class="actions row justify-content-center my-3">
        <div class="col-12 col-sm-6">
          <%= f.submit "Log in", class: "btn btn-sm btn-block btn-dark" %>
        </div>
      </div>
    <% end %>

    <div class="links text-center pb-3">
      <small class="text-muted"><%= link_to "Guest login", users_guest_sign_in_path, method: :post %></small>
    </div>
  </div>
</div>