<% post.comments.each do |comment| %>
  <hr class="my-0" />
  <div class="row py-2 px-4">
    <div class="col-1 profile-image p-2">
      <%= image_tag comment.user.get_profile_image(30,30), class: "rounded rounded-circle" %>
    </div>
    <div class="col">
      <h6 class="fw-bold mb-1"><%= comment.user.name %></h6>
      <div class="d-flex align-items-center mb-2">
        <div class="text-muted small mr-1">
          <%= time_ago_in_words(comment.created_at) %> ago
        </div>
        <% if comment.user == current_user or post.user == current_user %>
          <%= link_to post_comment_path(comment.post, comment), method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
      <p class="my-0">
        <%= comment.content %>
      </p>
    </div>
  </div>
<% end %>