<div class="row content-body">
  <%= render "layouts/sidebar" %>

  <div class="col-md-8">
    <div class="row heading pr-3 mb-2">
      <h2 class="mr-3">Followers</h2>
      <p class="my-auto">フォロワー</p>
      <div class="ml-auto my-auto">
        <% unless @user == current_user %>
          <h5 class="mb-0"><%= @user.name %></h5>
        <% end %>
        <small>
        <%= link_to "Following", user_following_path(@user) %> |
        <%= link_to "Followers", user_followers_path(@user) %>
        </small>
      </div>
    </div>
    <% if @user.followers.any? %>
      <%= render "public/users/index", users: @users %>
    <% elsif @user == current_user %>
      <div class="text-center p-5">
        <div class="row justify-content-center">
          <p class="mb-0">You are not followed by anyone.&nbsp;</p>
          <p>Find people to become friends!</p>
        </div>
        <div class="row justify-content-center">
          <small>フォロワーはいません。</small>
          <small>ユーザーを検索して友達になろう！</small>
        </div>
        <div class="my-3">
          <%= link_to "Search", search_path, class: "btn btn-sm btn-outline-dark" %>
        </div>
      </div>
    <% else %>
      <div class="text-center p-2">
        <div class="row justify-content-center">
          <p class="mb-0"><%= @user.name %> is not followed by anyone yet.&nbsp;</p>
          <p>Follow them to become their first study buddy!</p>
        </div>
        <div class="row justify-content-center">
          <small>まだフォロワーはいません。</small>
          <small>フォローして話しかけてみよう！</small>
        </div>
        <div class="my-3">
          <%= link_to "Follow", user_relationship_path(@user), method: :post, class: "btn btn-sm btn-outline-dark" %>
        </div>
      </div>
    <% end %>
  </div>

  <%= render "public/searches/search" %>
</div>