<div class="row content-body">
  <%= render "layouts/sidebar" %>

  <div class="col-md-9 col-lg-8">
    <div class="row heading pr-3 mb-2">
      <h2 class="mr-3">Friends</h2>
      <p class="my-auto"><ruby>友達<rt>ともだち</rt></ruby></p>
      <div class="ml-auto my-auto">
        <% unless @user == current_user %>
          <h5 class="mb-0"><%= @user.name %></h5>
        <% end %>
        <small>
        <%= link_to "Following", user_following_path(@user) %> |
        <%= link_to "Followers", user_followers_path(@user) %>
        </small>
      </div>
    </div>
    <% if @user.friends.any? %>
      <%= render "public/users/index", users: @users %>
    <% elsif @user == current_user %>
      <div class="text-center p-5">
        <p class="mb-0">Find people to become friends!</p>
        <small>まだ友達はいません。ユーザーを検索して友達を作ろう！</small>
        <div class="my-3 d-lg-none">
          <%= link_to "Search", new_search_path, class: "btn btn-sm btn-outline-dark" %>
        </div>
      </div>
    <% elsif @user.followed_by?(current_user) %>
      <div class="text-center p-2">
        <p class="mb-0"><%= @user.name %> has no friends yet.</p>
        <small>まだ友達はいません。</small>
      </div>
    <% else %>
      <div class="text-center p-2">
        <p class="mb-0">Follow them to become their first study buddy!</p>
        <small>まだ友達はいません。フォローして話しかけてみよう！</small>
        <div class="my-3">
          <%= link_to "Follow", user_relationship_path(@user), method: :post, class: "btn btn-sm btn-outline-dark" %>
        </div>
      </div>
    <% end %>
  </div>

  <%= render "public/searches/search" %>
</div>