<div class="list-group">
  <% posts.each do |post| %>
    <%= link_to admin_post_path(post), class: "btn btn-light" do %>
      <div class="list-gitem d-flex">
        <div class="flex-grow-1 p-2">
          <div class="d-flex mb-0">
            <h5><%= post.title %></h5>
            <div class="ml-auto">
              <p>
                <%= image_tag post.user.get_profile_image(20,20), class: "rounded rounded-circle" %>
                <%= post.user.name %>
              </p>
            </div>
          </div>
          <div class="d-flex small">
            <p class="text-truncate"><%= post.body %></p>
            <span class="small text-muted ml-auto"><%= post.created_at.strftime("%m/%d/%y %H:%M") %></span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>