<div class="mx-width-50 content-body mx-auto">
  <div class="text-center">
    <h2>Sign up</h2>
    <p>新規登録</p>
  </div>

  <div class="container">
    <%= form_with model: @user, url: user_registration_path, method: :post do |f| %>
      <div class="form-group row">
        <div class="col-2">
          <%= f.label :name %>
        </div>
        <div class="col-12 col-sm-10">
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-2">
          <%= f.label :email %>
        </div>
        <div class="col-12 col-sm-10">
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-10">
          <%= f.label :password %>
          <small>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          </small>
        </div>
        <div class="col-12 col-sm-10">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions row justify-content-center my-3">
        <div class="col-12 col-sm-6">
          <%= f.submit "Sign up", class: "btn btn-sm btn-block btn-dark" %>
        </div>
      </div>
    <% end %>

    <div class="links text-center">
      <p>Already a member? <%= link_to "Log in", new_user_session_path %> &nbsp;
        <small>既に会員の方は<%= link_to "こちら", new_user_session_path %>から</small>
      </p>
      <small class="text-muted"><%= link_to "Guest login", users_guest_sign_in_path, method: :post %></small>
    </div>
  </div>
</div>