<div class="row content-body">
  <%= render "layouts/sidebar" %>

  <div class="col-md-9 col-lg-8">
    <div class="row heading align-items-center justify-content-center">
        <p class="mr-3 lead">
          <% if Time.now >= Time.parse("7:00") and Time.now <= Time.parse("11:59") %>
            Good Morning! <br>
          <% elsif Time.now >= Time.parse("12:00") and Time.now <= Time.parse("17:59") %>
            Good Afternoon!
          <% else %>
            Good Evening!
          <% end %>
        </p>
        <p class="small d-block">
          <% if Time.now >= Time.parse("7:00") and Time.now <= Time.parse("11:59") %>
            おはよう、<%= current_user.name %>さん! <br>
          <% elsif Time.now >= Time.parse("12:00") and Time.now <= Time.parse("17:59") %>
            こんにちは、<%= current_user.name %>さん!
          <% else %>
            こんばんは、<%= current_user.name %>さん!
          <% end %>
        </p>
    </div>
    <div class="posts-index">
      <%= render "public/posts/index", posts: @posts %>
      <div class="row justify-content-center">
        <%= paginate @posts %>
      </div>
    </div>
  </div>

  <%= render "public/searches/search" %>
</div>