<div class="admin-body mx-auto">
  <div class="row heading">
    <h2>All Users</h2>
  </div>
  <div class="list-group">
    <% @users.each do |user| %>
      <%= link_to admin_user_path(user), class: "btn btn-light border-bottom" do %>
        <div class="list-item d-flex">
          <div class="col-1 align-self-center">
              <%= user.id %>
            </div>
          <div class="flex-grow-1 p-2">
            <div class="d-flex mb-0">
                <p>
                  <%= image_tag user.get_profile_image(40,40), class: "rounded rounded-circle" %>
                  <%= user.name %>
                </p>
                <% if user.is_deactivated? %>
                  <div class="text-danger small mx-3">Deactivated User</div>
                <% end %>
                <small class="text-muted ml-auto">Joined on <%= user.created_at.strftime("%m/%d/%y") %></small>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <%= paginate @users %>
  </div>
</div>