<div class="mx-width-50 content-body mx-auto">
  <div class="row heading">
    <h2>Notifications</h2>
  </div>

  <div class="container">
    <% if @notifications.any? %>
      <div class="delete-btn text-right small my-2">
        <%= link_to "Delete all notifications", notifications_update_all_path, method: :patch %>
      </div>
      <div class="my-2">
        <% @notifications.each do |notification| %>
          <div class="row py-3 border-bottom">
            <div class="col-1 image">
              <%= image_tag notification.sender.get_profile_image(30,30), class: "rounded rounded-circle" %>
            </div>

            <div class="col-11 notification-body small">
              <% if notification.action == "follow" %>
                <div class="row notification-heading small">
                  <div class="col">
                    フォローされました
                  </div>
                  <div class="col text-right">
                    <small class="text-muted"><%= time_ago_in_words(notification.created_at) %> ago</small>
                      &nbsp;
                      <%= link_to notification_path(notification), method: :patch do %>
                        <i class="fas fa-trash"></i>
                      <% end %>
                    </small>
                  </div>
                </div>
                <div class="notification-details">
                  <strong><%= link_to notification.sender.name, user_path(notification.sender) %></strong>
                  started following you!
                </div>
              <% elsif notification.action == "comment" %>
                <div class="row notification-heading small">
                  <div class="col">
                    あなたの投稿にコメントされました
                  </div>
                  <div class="col text-right">
                    <small class="text-muted"><%= time_ago_in_words(notification.created_at) %> ago</small>
                      &nbsp;
                      <%= link_to notification_path(notification), method: :patch do %>
                        <i class="fas fa-trash"></i>
                      <% end %>
                    </small>
                  </div>
                </div>
                <div class="notification-details">
                  <strong><%= link_to notification.sender.name, user_path(notification.sender) %></strong>
                  left a comment on your post "<%= link_to notification.comment.post.title, post_path(notification.post_id) %>" !
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="container my-2"><p>No notification <small>未読通知はありません</small></p></div>
    <% end %>
  </div>
</div>