<div class="col-10 container">
    <%= form_with model: user, method: :patch do |f| %>
      <div id="user-error">
        <%= render "layouts/errors", obj: user %>
      </div>
      <div class="form-group row">
        <div class="col-3">
          <%= f.label :name %>
        </div>
        <div class="col-12 col-sm-9">
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-3">
          <ruby>名前<rt>なまえ</rt></ruby>
        </div>
        <div class="col-12 col-sm-9">
          <%= f.text_field :name_jap, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-3">
          <ruby>Gender<rt>性別</rt></ruby>
        </div>
        <div class="col-12 col-sm-9">
          <%= f.select :gender, options_for_select({"Male" => "male",
                                                    "Female" => "female",
                                                    "Other" => "other" }),
                                                  {include_blank: "Select a gender"},
                                                  {class: "form-control"} %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-3">
          <ruby>Speaks<rt>話せる言語</rt></ruby>
        </div>
        <div class="col-12 col-sm-9">
          <%= f.select :native_language,
                        options_for_select({"English" => "English",
                                            "Japanese" => "Japanese"}),
                                            {include_blank: "Select a language"},
                                            {class: "form-control"} %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-3">
          <ruby>Learning<rt>学習中の言語</rt></ruby>
        </div>
        <div class="col-12 col-sm-9">
          <%= f.select :learning_language,
                        options_for_select({"English" => "English",
                                            "Japanese" => "Japanese"}),
                                            {include_blank: "Select a language"},
                                            {class: "form-control"} %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12">
          <ruby>Introduction<rt>自己紹介</rt></ruby>
        </div>
        <div class="col-12">
          <%= f.text_area :introduction, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-3">
          <%= f.label :email %>
        </div>
        <div class="col-12 col-sm-9">
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-3">
          <%= f.label :time_zone %>
        </div>
        <div class="col-12 col-sm-9">
          <%= f.time_zone_select(:time_zone, ActiveSupport::TimeZone.all.sort, {default: "Tokyo"}, {class: "form-control"}) %>
        </div>
      </div>

      <div class="actions row justify-content-center my-3">
        <div class="col-12 col-sm-6">
          <%= f.submit "Update", class: "btn btn-sm btn-block btn-dark" %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col">
        <%= link_to "Back", user_path(user) %>
      </div>
      <div class="ml-auto">
        <%= link_to user_confirm_path do %>
          Delete account <small>退会する</small>
        <% end %>
      </div>
    </div>
  </div>