<% @users.each do |user| %>
  <div class="card mb-1">
  <div class="row justify-content-center">
    <div class="col-2 align-self-center">
      <%= image_tag user.get_profile_image(100,100), class: "rounded rounded-circle img-fluid" %>
    </div>
    <div class="col-9">
      <div class="card-body">
        <div class="card-title d-flex">
          <h5>
            <%= link_to user_path(user) do %>
              <ruby><%= user.name %><rt><%= user.name_jap %></rt></ruby>
            <% end %>
          </h5>
          <%= image_tag "ja_icon.png", class:"flag" %>
          <div class="ml-auto btn btn-sm btn-outline-dark">Follow</div>
        </div>
        <div class="card-text">
          <p><%= user.introduction %></p>
        </div>
        <p class="card-text"><small class="text-muted">Member since <%= user.created_at.strftime("%B %Y")%></small></p>
      </div>
    </div>
  </div>
</div>

<% end %>