<div class="profile">
  <div class="row heading">
    <h2 class="mr-3">Profile</h2>
    <p class="mt-auto">プロフィール</p>
    <p class="ml-auto px-3 small">
      <small class="text-muted">
        <i class="far fa-flag"></i>
        <%= link_to "Report User", new_report_path(model: "user",
                                                  subject_id: params[:id],
                                                  subject: "#{user.name}") %>
      </small>
    </p>
  </div>

  <div class="row">
    <div class="col-lg-5 mb-2">
      <div class="row justify-content-center">
        <div class="col-4">
          <%= image_tag user.get_profile_image(100,100), class: "rounded rounded-circle" %>
        </div>
        <div class="col-5">
          <div class="row">
            <div class="mr-2">
              <% unless user.name_jap.blank? %>
                <small><%= user.name_jap %></small>
              <% end %>
              <p class="h4"><%= user.name %></p>
            </div>
            <div class="small text-muted my-auto">
                <% if user.is_friend_with?(current_user) %>
                  <small class="text-muted">Friend</small>
                <% elsif user.followed_by?(current_user) %>
                  <small class="text-muted">Following</small>
                <% elsif current_user.followed_by?(user) %>
                  <small class="text-muted">Follows you</small>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1 text-center">
      <div id="follow-btn">
        <%= render "public/relationships/follow-btn", user: user %>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="row justify-content-center my-4">
        <table class="col-9 col-md-5 align-self-start">
          <tbody>
            <tr>
              <th>Gender</th>
              <td>
                <%= user.gender %>
                <% if user.gender.blank? %>
                  <small>Not selected</small>
                <% end %>
              </td>
            </tr>
            <tr>
              <th>Speaks</th>
              <td>
                <%= user.native_language %>
                <% if user.native_language.blank? %>
                  <small>Not selected</small>
                <% end %>
              </td>
            </tr>
            <tr>
              <th>Learning</th>
              <td>
                <%= user.learning_language %>
                <% if user.learning_language.blank? %>
                  <small>Not selected</small>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="col-10 col-md-6 py-1">
          <small class="introduction">
            <% if user == current_user && current_user.introduction.blank? %>
              <%= link_to "Add introduction", edit_user_path(current_user) %>
            <% else %>
              <%= user.introduction %>
            <% end %>
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-around">
    <% if user == current_user %>
      <div class="col-8 col-md-5 btn btn-outline-dark my-1">
        <%= link_to new_post_path, class: "btn-block" do %>
          <i class="fas fa-edit"></i> New Post
        <% end %>
      </div>
      <div class="col-8 col-md-5 btn btn-outline-dark my-1">
        <%= link_to "Edit profile", edit_user_path(current_user), class: "btn-block" %>
      </div>
    <% end %>

  </div>
</div>


<div class="relationships my-3 ">
  <h4>Friends <small>ともだち</small></h4>
  <%= render "friends", user: user, users: users %>
</div>

<hr>

<div class="posts my-3">
  <h4>Posts <small>とうこう</small></h4>
  <%= render "public/posts/index", posts: user.posts %>
  <div class="container mt-2">
    <div class="btn btn-outline-dark btn-block">
      <%= link_to "See all posts", user_posts_path(user), class: "btn-block" %>
    </div>
  </div>
</div>