<div class="row content-body">
  <%= render "layouts/sidebar" %>

  <div class="col-md-9 col-lg-8">
    <div class="row">
      <div class="col-md-8 posts">
        <% if @user == current_user %>
          <div class="row heading">
            <h2 class="mr-3">Posts</h2>
            <p><ruby>投稿一覧<rt>とうこういちらん</rt></ruby></p>
          </div>
        <% else %>
          <div class="row heading">
            <h2 class="mr-3">Posts by <%= @user.name %></h2>
            <p><%= @user.name %>さんの<ruby>投稿一覧<rt>とうこういちらん</rt></ruby></p>
          </div>
        <% end %>
        <div class="user-posts-index">
          <% if @user.posts.any? %>
            <%= render "public/posts/index", posts: @posts %>
          <% elsif @user == current_user %>
            <div class="text-center p-2">
              <p class="mb-0">You have not posted anything yet.</p>
              <small>投稿がありません。最初の投稿をしてみよう！</small>
              <div class="my-3">
                <%= link_to "New Post", new_post_path, class: "btn btn-sm btn-outline-myrtle" %>
              </div>
            </div>
          <% else %>
            <div class="text-center no-content p-2">
              <p class="mb-0"><%= @user.name %> has no posts yet.</p>
              <small>まだ投稿がありません</small>
            </div>
          <% end %>

          <div class="row justify-content-center">
            <%= paginate @posts %>
          </div>
        </div>
      </div>
      <div class="col-md-4 side">
        <div class="latests my-3">
          <p class="my-2"><span class="h5">Latest Posts</span> 最新の投稿</p>
          <%= render "public/posts/latest", posts: @posts %>
        </div>
        <div class="categories my-3 border-top">
          <p class="my-2"><span class="h5">Categories</span> カテゴリー別</p>
          <%= render "public/users/categories", categories: @categories, user: @user %>
        </div>
      </div>
    </div>
  </div>
  <%= render "public/searches/search" %>
</div>