<nav class="navbar navbar-expand-lg">
  <div class="container">
    <% if user_signed_in? %>
      <div class="navbar-brand">
        <%= link_to home_path do %>
          NELC
        <% end %>
      </div>
      <!-- smより大きいnavbar -->
      <div class="d-none d-md-block">
        <ul class="nav">
          <li class="nav-link">
            <%= link_to new_post_path do %>
              <i class="fas fa-edit"></i>
              <ruby>New Post<rt>とうこう</rt></ruby>
            <% end %>
          </li>
          <li class="nav-link">
            <%= link_to rooms_path do %>
              <i class="fas fa-comment-dots"></i>
              <ruby>Chat<rt>チャット</rt></ruby>
              <% if current_user.passive_notifications.chat.any? %>
                <span class="notification-badge"><%= current_user.passive_notifications.chat.size %></span>
              <% end %>
            <% end %>
          </li>
          <li class="nav-link">
            <%= link_to user_friends_path(current_user) do %>
              <i class="fas fa-user-friends"></i>
              <ruby>Friends<rt>ともだち</rt></ruby>
            <% end %>
          </li>
          <li class="nav-link">
            <%= link_to notifications_path do %>
              <i class="fas fa-bell"></i>
              <% if current_user.passive_notifications.alerts.any? %>
                <span class="notification-badge"><%= current_user.passive_notifications.alerts.size %></span>
              <% end %>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
              <i class="fas fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <li class="dropdown-item">
                <%= link_to user_path(current_user) do %>
                  Profile<small>　プロフィール</small>
                <% end %>
              </li>
              <li class="dropdown-item">
                <%= link_to bookmarks_path do %>
                  Bookmarks<small>　ブックマーク</small>
                <% end %>
              </li>
              <li class="dropdown-item">
                <%= link_to new_search_path do %>
                  Search<small>　けんさく</small>
                <% end %>
              </li>
              <div class="dropdown-divider"></div>
              <li class="dropdown-item"><%= link_to "Log out", destroy_user_session_path, method: :delete %><small>　ログアウト</small></li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- xsのnavbar -->
      <div class="d-block d-md-none">
        <ul class="nav">
          <li class="nav-link d-none d-sm-block">
            <%= link_to new_post_path do %>
              <i class="fas fa-edit"></i>
              <ruby>New Post<rt>とうこう</rt></ruby>
            <% end %>
          </li>
          <li class="nav-link">
            <%= link_to new_search_path do %>
              <i class="fas fa-search"></i>
              <ruby>Search<rt>けんさく</rt></ruby>
            <% end %>
          </li>
          <li class="nav-link">
            <%= link_to notifications_path do %>
              <i class="fas fa-bell"></i>
              <% if current_user.passive_notifications.alerts.any? %>
                <span class="notification-badge"><%= current_user.passive_notifications.alerts.size %></span>
              <% end %>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
              <i class="fas fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <li class="dropdown-item">
                <%= link_to user_path(current_user) do %>
                  Profile<small>　プロフィール</small>
                <% end %>
              </li>
              <li class="dropdown-item">
                <%= link_to user_friends_path(current_user) do %>
                  My Friends<small>　ともだち</small>
                <% end %>
              </li>
              <li class="dropdown-item">
                <%= link_to rooms_path do %>
                  Chat<small>　チャット</small>
                  <% if current_user.passive_notifications.chat.any? %>
                    <i class="fas fa-circle new-message"></i>
                  <% end %>
                <% end %>
              </li>
              <li class="dropdown-item">
                <%= link_to bookmarks_path do %>
                  Bookmarks<small>　ブックマーク</small>
                <% end %>
              </li>
              <div class="dropdown-divider"></div>
              <li class="dropdown-item"><%= link_to "Log out", destroy_user_session_path, method: :delete %><small>　ログアウト</small></li>
            </ul>
          </li>
        </ul>
      </div>
    <% else %>
      <div class="navbar-brand">
        <%= link_to root_path do %>
          NELC
        <% end %>
      </div>
      <ul class="nav">
        <li class="nav-link">
          <%= link_to new_user_registration_path do %>
            <i class="fas fa-user-plus"></i>
            <ruby>Join<rt>新規登録</rt></ruby>
          <% end %>
        </li>
        <li class="nav-link">
          <%= link_to new_user_session_path do %>
            <i class="fas fa-sign-in-alt"></i>
            <ruby>Log in<rt>ログイン</rt></ruby>
          <% end %>
        </li>
      </ul>
    <% end %>

  </div>
</nav>